.navbar-container{
  padding: 10px;
  margin: 20px;
  margin-top: 0px;
}
.navbar{
  display: flex;
  justify-content: space-around;
}
.nav-logo{
  display: flex;
  align-items: center;
  color: blue;
  margin-left: -20px;
  font-size: 45px;
  font-weight: 750;
}
.nav-link-head{
  text-decoration: none;
}
.search{
  display: flex;
  text-align: center;
  align-items: center;
}
.search-input{
  padding: 10px;
      font-size: 16px;
      border: 1px solid #ccc;
      border-radius: 5px;
      width: 450px;
}
.buttons button{
  padding: 10px 15px;
  outline: none;
  border: 1px solid #626262;
  border-radius: 10%;
  color: white;
  font-size: 18px;
  font-weight: 500;
  background: rgb(45, 45, 218);
}
.button1{
  margin-right: 10px;
  color: rgb(12, 6, 6);
  background: white;
}

.nav-menu{
  
  display: flex;
  list-style: none;
  gap: 20px;
  color: #626262;
  font-size: 20px;
  font-weight: 400;
  padding: bottom -10px;
}
.nav-menu li{
  
  display: flex;
  flex-direction: column;
  gap: 3px;
  cursor: pointer;
}
.nav-link{
  text-decoration: none;
  color: #626262;
}
